* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.contenitore {
  width: 80%;
  margin: 0 auto !important;
}

/********** HEADER************/

.container-hero {
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}

.fw-white-header {
  background-color: #ffffff;
}

header {
  height: 75px;
}

.navbar-header {
  width: fit-content;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 20px;
}

.navbar-fixed-top {
  border: none;
}

.lista-navbar li {
  display: inline-block;
  margin-left: 21px;
  font-size: 15px;
  line-height: 75px;
}

.lista-navbar li:first-child {
  margin-left: 0px;
}

.lista-navbar li a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #0049ff;
}

.fas:hover {
  color: black;
}

.barra-navigazione {
  margin: auto;
  height: 50px;
  float: left;
  line-height: 10px;
  text-align: right;
}

.bottone-header {
  width: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  float: right;
  color: #0049ff;
  border: 1px solid #0049ff;
  background-color: white;
  margin-right: 40px;
  width: 90px;
  height: 35px;
  border-radius: 7%;
  font-size: 15px;
}

.hamburger {
  width: 35px;
  height: 50px;
  float: right;
  position: absolute;
  right: 15px;
  margin-top: 15px;
  background-color: transparent;
  border: none;
}

.hamburger .righetta {
  border: 1px solid black;
  float: left;
  width: 25px;
  height: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px;
  background-color: #7ba1ff;
  border: none;
}

/************ HERO*************/

.container-della-row {
  width: 80%;
  margin-top: 130px;
}

.jumbotron,
.form {
  height: auto;
  float: left;
  border-radius: 1%;
}

.jumbotron {
  background-color: rgba(0, 73, 255, 0.5);
  margin-top: 110px;
}

.form {
  padding-top: 25px;
  background-color: #ffffff;
  margin-bottom: 80px;
}

h1 {
  font-weight: bold;
  color: white !important;
  margin-left: -45px;
  margin-right: -45px;
  line-height: 70px;
  margin-top: -35px;
  font-size: 55px !important;
}

h2 {
  margin-bottom: 40px;
  font-weight: bold;
}

h3 {
  margin-left: -45px;
  margin-right: -45px;
  line-height: 35px;
  font-size: 24px !important;
  color: #c2d3ff;
  margin-bottom: -35px;
}

.icona1,
.icona2,
.icona3 {
  width: 33.3333%;
  border: 1px solid #c5c3c3;
  float: left;
}

.icona2 {
  margin-top: 22px;
  margin-bottom: 30px;
  color: #8f8a8a;
  border: none;
}

.icona1,
.icona3 {
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 35px;
}

.icona2 p {
  font-size: 17px;
}

.form-control {
  height: 40px;
  margin-top: 20px;
}

button img {
  width: 15px;
}

.row-innestata {
  margin-top: 60px;
  margin-left: 2px;
  margin-right: 2px;
}

.google,
.github {
  height: 50px;
}

.google {
  margin-right: 3%;
  width: 47%;
}

.github {
  width: 47%;
  margin-left: 3%;
}

.btn-crea-account {
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
  margin-top: 30px;
  background-color: #0069ff;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.termini-servizio {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
}

.termini-servizio:hover {
  cursor: pointer;
}

/****** SEZIONE GRIGIA CON LOGHI ******/

.fw-grigio {
  background-color: #f3f5f9;
  /*provvisoria*/
}

.fw-grigio .row {
  margin-left: 0px;
  margin-right: 0px;
}

.fw-grigio img {
  max-width: 95px;
  height: 90px;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
}

/* (((non serve)))
 .col {
  float: left;
} 
*/

h4 {
  text-transform: uppercase !important;
  margin-top: 80px;
  margin-bottom: 20px;
  color: #939eb5;
  font-size: 15px;
  font-weight: bold;
}

.fw-grigio p {
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 80px;
}

/******** SEZ. DEPLOY AND SCALE SEAMLESSLY ******/

.fw-bianco2 {
  background-color: #ffffff;
}

.h2-mio {
  margin-top: 80px;
  border: 1px;
}

.mio-p1 {
  font-size: 20px;
}

.row-p {
  margin: 0 auto;
  margin-bottom: 30px;
}

.row-2 {
  margin: 0 auto;
}

.ul-2 li {
  margin-left: -15px;
  list-style-type: none;
  border: 1.5px solid gray;
  line-height: 80px;
  padding-left: 15px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: gray;
}

.ul-2 li:hover {
  color: black;
  cursor: pointer;
  border-left: 1.5px solid blue;
}

.riga1 {
  margin: 0 auto;
}

.box {
  float: left;
  margin-bottom: 30px;
}
.box .fas,
.box .far {
  font-size: 30px;
  color: #0049ff;
}

.contenitore-piccolo {
  padding-bottom: 80px;
}

.contenitore-dentro h5 {
  font-size: 18px;
  font-weight: bold;
}

.contenitore-dentro p {
  color: #76839f;
}

/******** CONTENITORE DESIGNED FOR DEVELOPERS  ((!!!!!!!!!!!!!!!!!!!!!!!!!!!!! DA SISTEMARE TUTTA)) ****/

.fw-grigio2 {
  background-color: #f3f5f9;
}

.mio-p2 {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

.arrow-sx,
.immy,
.arrow-dx {
  float: left;
  padding: 0;
}

.arrow-sx,
.arrow-dx {
  /*non so perché funziona così... con 25 invece che 50*/
  margin-top: 25%;
  transform: translateY(-50%);
}

.fa-chevron-right,
.fa-chevron-left {
  text-align: center;
  font-size: 40px;
}

.row-grigia p {
  margin: 0 auto;
}

.mio-p3 {
  font-size: 20px;
}

.mio-p4 {
  margin-top: 30px;
  margin-bottom: 80px;
  color: #4a5c81;
  font-size: 16px;
}

.chevron-piccolo {
  font-size: 15px;
}

/************* SEZIONE BUILT FOR BUSINESS***********/
.fw-bianco3 {
  background-color: #ffffff;
}

.fw-bianco3 .row {
  margin: 0;
  padding-bottom: 80px;
}

.boite {
  float: left;
  height: 350px;
  margin-top: 30px;
}

.fw-bianco3 h5 {
  font-size: 20px;
  font-weight: bold;
}

.fw-bianco3 p {
  font-size: 17px;
  line-height: 30px;
  color: #4e5f83;
}

.fw-bianco3 .far,
.fw-bianco3 .fas {
  font-size: 30px;
  color: #0049ff;
}

.fw-bianco3 .fa-chevron-right {
  font-size: 15px;
}

.fw-bianco3 a {
  font-size: 16px;
}

/********* 12 DATA CENTERS ***********/

.fw-immagine-2 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/The_earth_at_night_%282%29.jpg/1280px-The_earth_at_night_%282%29.jpg");
}

.fw-immagine-2 .contenitore {
  padding-bottom: 80px;
}

.fw-immagine-2 h2 {
  color: white;
}

.cont {
  float: left;
  margin-bottom: 40px;
  background-color: rgba(0, 1, 68, 0.7);
}

.contenitore-a-sx {
  padding-right: 27px;
}

.contenitore-a-dx {
  padding-left: 27px;
}

.sei-paesi {
  float: left;
  border: 1px solid rgb(68, 84, 128);
  height: 40px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.sei-paesi:last-child {
  border-bottom: none;
}

.boxino-left {
  float: left;
  margin-right: 25px;
  color: white;
  font-weight: bold;
  line-height: 40px;
}

.boxino-left2 {
  color: #98a2b6;
  font-size: 13px;
}

.boxino-right {
  float: right;
  line-height: 40px;
  color: #0599a6;
  font-size: 12px;
  font-weight: bold;
}

.boxino-right .fa-chevron-right {
  font-size: 8px;
}

.boxino-right a:hover {
  cursor: pointer;
}

/************** SEZ DIVERSA ***********/

.diverso {
  background-color: white;
  border-radius: 7px;
  margin-bottom: 80px;
}

.div-diverso img {
  width: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.diverso p {
  font-size: 25px;
  color: #4e5f83;
}

.p-ruolo,
.p-firma {
  text-align: center;
}

.a-diverso {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 60px;
}

.chevron-piccolo2 {
  font-size: 15px;
}

.chevron-lr-alto {
  margin-top: 15%; /*potrebbe cambiare*/
}

.p-grigio {
  color: #4e5f83;
}

.p-primo {
  font-size: 20px !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-firma {
  font-size: 16px !important;
  font-weight: bold;
  padding-bottom: 10px;
}

.p-ruolo {
  font-size: 12.5px !important;
  padding-bottom: 40px;
}

/***************SEZ-STRISCIA BLU ************/

.container-fw-striscia-blu {
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}
.h2-get-started {
  margin-top: 80px;
  color: white;
}

.bottone-create-your-account {
  width: 220px;
  height: 50px;
  border-radius: 7px;
  background-color: white;
  color: #0049ff;
  font-weight: bold;
  border: none;
  margin-bottom: 80px;
}

.bottone-create-your-account:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}

/********** FOOTER ***********/
.fw-blu-scuro {
  background-color: #010e28;
}

.fw-blu-scuro .contenitore {
}

.contenitore-interno {
  height: auto !important;
  padding-top: 80px;
  padding-bottom: 80px;
}

.scatola {
  float: left;
}

.fw-blu-scuro .row {
  margin: 0;
}

.scatola ul {
  list-style-type: none;
}

.scatola li {
  line-height: 35px;
}

.scatola ul li a {
  color: #6b7382;
  font-weight: bold;
}

.scatola ul li a:hover {
  color: white;
  cursor: pointer;
}

.scatola ul li:first-child a {
  color: white;
}
.cont-footer-lower {
  height: 120px;
  width: 80%;
  margin: 0 auto;
}

.hr-grigia {
  border: 0.5px solid rgb(94, 94, 94);
}

.cont-logo {
  width: fit-content;
  float: left;
  color: #6b7382;
}
.cont-logo img {
  width: 60px;
}

.cont-icone {
  float: right;
  color: white;
}

.cont-icone .fab {
  opacity: 0.6;
}

.cont-icone .fab:hover {
  cursor: pointer;
  opacity: 1;
}

.cont-icone ul li {
  display: inline-block;
  font-size: 30px;
  margin-right: 10px;
}

/************ TABLET E MOBILE ****************/

@media screen and (min-width: 992px) {
  .hamburger {
    visibility: hidden;
  }
}

@media screen and (max-width: 991px) {
  .bottone-header {
    visibility: hidden;
  }

  .barra-navigazione {
    /* width: 10px;
    border: 1px solid black;
    position: absolute;
    top: 0;*/
    display: none;
  }

  .navbar-default,
  .fw-white-header {
    background-color: transparent;
  }

  .container-della-row {
    margin-top: -80px !important;
  }

  .navbar-header img {
    visibility: hidden;
  }
}

@media screen and (max-width: 766px) {
  .col {
    width: 50%;
  }

  .col img {
    min-width: 100%;
  }

  .arrow-dx,
  .arrow-sx,
  .chevron-lr-alto {
    display: none;
  }

  .immy {
    width: 90%;
    margin-left: 5%;
  }
}

#splunk {
  margin-top: 22px;
  margin-bottom: 22px;
  height: 46px;
}
