* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenitore {
  width: 80%;
  margin: 0 auto !important;
}

/********** HEADER************/

.container-hero {
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}

.fw-white-header {
  background-color: #ffffff;
}

header {
  height: 75px;
}

.navbar-header {
  width: fit-content;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 20px;
}

.navbar-fixed-top {
  border: none;
}

.lista-navbar li {
  display: inline-block;
  margin-left: 21px;
  font-size: 15px;
  line-height: 75px;
}

.lista-navbar li:first-child {
  margin-left: 0px;
}

.lista-navbar li a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #0049ff;
}

.fas:hover {
  color: black;
}

.barra-navigazione {
  margin: auto;
  height: 50px;
  float: left;
  line-height: 10px;
  text-align: right;
}

.bottone-header {
  width: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  float: right;
  color: #0049ff;
  border: 1px solid #0049ff;
  background-color: white;
  margin-right: 40px;
  width: 90px;
  height: 35px;
  border-radius: 7%;
  font-size: 15px;
}

.hamburger {
  width: 35px;
  height: 50px;
  float: right;
  position: absolute;
  right: 15px;
  margin-top: 15px;
  background-color: transparent;
  border: none;
}

.hamburger .righetta {
  border: 1px solid black;
  float: left;
  width: 25px;
  height: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px;
  background-color: #7ba1ff;
  border: none;
}

/************ HERO*************/

.container-della-row {
  width: 80%;
  margin-top: 130px;
}

.jumbotron,
.form {
  height: auto;
  float: left;
  border-radius: 1%;
}

.jumbotron {
  background-color: rgba(0, 73, 255, 0.5);
  margin-top: 110px;
}

.form {
  padding-top: 25px;
  background-color: #ffffff;
  margin-bottom: 80px;
}

h1 {
  font-weight: bold;
  color: white !important;
  margin-left: -45px;
  margin-right: -45px;
  line-height: 70px;
  margin-top: -35px;
  font-size: 55px !important;
}

h2 {
  margin-bottom: 40px;
  font-weight: bold;
}

h3 {
  margin-left: -45px;
  margin-right: -45px;
  line-height: 35px;
  font-size: 24px !important;
  color: #c2d3ff;
  margin-bottom: -35px;
}

.icona1,
.icona2,
.icona3 {
  width: 33.3333%;
  border: 1px solid #c5c3c3;
  float: left;
}

.icona2 {
  margin-top: 22px;
  margin-bottom: 30px;
  color: #8f8a8a;
  border: none;
}

.icona1,
.icona3 {
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 35px;
}

.icona2 p {
  font-size: 17px;
}

.form-control {
  height: 40px;
  margin-top: 20px;
}

button img {
  width: 15px;
}

.row-innestata {
  margin-top: 60px;
  margin-left: 2px;
  margin-right: 2px;
}

.google,
.github {
  height: 50px;
}

.google {
  margin-right: 3%;
  width: 47%;
}

.github {
  width: 47%;
  margin-left: 3%;
}

.btn-crea-account {
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
  margin-top: 30px;
  background-color: #0069ff;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.termini-servizio {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
}

.termini-servizio:hover {
  cursor: pointer;
}

/****** SEZIONE GRIGIA CON LOGHI ******/

.fw-grigio {
  background-color: #f3f5f9;
  /*provvisoria*/
}

.fw-grigio .row {
  margin-left: 0px;
  margin-right: 0px;
}

.fw-grigio img {
  max-width: 95px;
  height: 90px;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
}

/* (((non serve)))
 .col {
  float: left;
} 
*/

h4 {
  text-transform: uppercase !important;
  margin-top: 80px;
  margin-bottom: 20px;
  color: #939eb5;
  font-size: 15px;
  font-weight: bold;
}

.fw-grigio p {
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 80px;
}

/******** SEZ. DEPLOY AND SCALE SEAMLESSLY ******/

.fw-bianco2 {
  background-color: #ffffff;
}

.contenitore-piccolo {
  border: 1px solid black;
  height: 500px;
}

.mio-p1 {
  font-size: 20px;
}

.row-p {
  border: 1px solid red;
  margin: 0 auto;
}

.row-2 {
  border: 1px solid orange;
  margin: 0 auto;
}

.menu-laterale {
  border: 1px solid purple;
}

.ul-2 li {
  margin-left: -15px;
  list-style-type: none;
  border: 1.5px solid gray;
  line-height: 80px;
  padding-left: 15px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: gray;
}

.riga1 {
  background-color: green;
}

.menu-laterale {
  background-color: khaki;
}

.contenitore-dentro {
  height: 50px;
  background-color: lightgreen;
}

.box {
  float: left;
  border: 2px solid black;
}

/************ TABLET E MOBILE ****************/

@media screen and (min-width: 992px) {
  .hamburger {
    visibility: hidden;
  }
}

@media screen and (max-width: 991px) {
  .bottone-header {
    visibility: hidden;
  }

  .barra-navigazione {
    /* width: 10px;
    border: 1px solid black;
    position: absolute;
    top: 0;*/
    display: none;
  }

  .navbar-default,
  .fw-white-header {
    background-color: transparent;
  }

  .container-della-row {
    margin-top: -80px !important;
  }

  .navbar-header img {
    visibility: hidden;
  }
}

@media screen and (max-width: 766px) {
  .col {
    width: 50%;
  }

  .col img {
    min-width: 100%;
  }
}

#splunk {
  margin-top: 22px;
  margin-bottom: 22px;
  height: 46px;
}
